@page
@model CFLookup.Pages.FileProcessingInfoModel
@{
    ViewData["Title"] = "File processing info";
}

<h1>Latest updated files per game</h1>
<table class="table table-dark table-striped table-condensed">
    <thead>
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Mod</th>
            <th scope="col">File</th>
            <th scope="col" class="text-end">Latest update</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.ModFiles)
    {
        <tr>
            <td scope="row"><a href="https://www.curseforge.com/@row.Game.Slug" target="_blank">@row.Game.Name</a></td>
            <td><a href="@row.Mod.Links.WebsiteUrl" target="_blank">@row.Mod.Name</a></td>
            <td><a href="@row.Mod.Links.WebsiteUrl/files/@row.File.Id" target="_blank">@row.File.FileName</a></td>
            <td class="text-end" title="@row.LatestUpdatedUtc">@row.SinceLatestUpdate.ToHumanReadableFormat() ago</td>
        </tr>
    }
    </tbody>
</table>