@page "{projectId:int?}"
@using System.Web
@using Microsoft.AspNetCore.Http.Extensions
@model IndexModel
@{
    ViewData["Title"] = "What?";

    var permLink = string.Empty;

    if (Model.FoundMod != null)
    {
        ViewData["Title"] = Model.FoundMod.Name;
        permLink = @Url.PageLink($"/Index", values: new { projectId = Model.FoundMod.Id, fileId = Model.FileSearchField }, protocol: "https");
    }
}

@section Head {
    @if (Model.FoundMod != null)
    {
        <meta property="og:title" content="@Model.FoundMod.Name" />
        <meta name="twitter:title" content="@Model.FoundMod.Name" />
        <meta property="og:url" content="@permLink" />
        if (Model.FoundMod.Logo != null && !string.IsNullOrWhiteSpace(Model.FoundMod.Logo.ThumbnailUrl))
        {
            <meta property="og:image" content="@Model.FoundMod.Logo.ThumbnailUrl" />
            <meta name="twitter:image" content="@Model.FoundMod.Logo.ThumbnailUrl" />
        }
        <meta name="description" content="@Model.FoundMod.Summary" />
        <meta name="og:description" content="@Model.FoundMod.Summary" />
        <meta name="twitter:description" content="@Model.FoundMod.Summary" />
        <meta name="twitter:site" content="@@NoLifeKing85">
    }
    else
    {
        <meta property="og:title" content="What CurseForge Project Is This?" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://wcfpit.nolifeking85.tv/" />
        <meta name="description" content="What CurseForge Project Is This? is a tool to help you find the CurseForge project or file based on a ID." />
    }
}

<div class="text-center">
    <h1 class="display-4">What CurseForge Project Is This?</h1>
    <form href="/" asp-page="Index" method="post">
        <label class="form-label" for="projectSearchField">Enter the project id, and we'll try to look it up for you!</label>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="projectSearchField">Project Id</label>
                    <input type="number" class="form-control text-center" id="projectSearchField" asp-for="ProjectSearchField" placeholder="Project Id (project-<number>)" />
                    <button type="submit" class="btn btn-secondary">Search project</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="fileSearchField">File Id</label>
                    <input type="number" class="form-control text-center" id="fileSearchField" asp-for="FileSearchField" placeholder="File Id" />
                    <button type="submit" class="btn btn-secondary">Search file</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="text-muted"><em>This tool is primarly focused on helping you find what mods that are deleted, and cannot be used in CurseForge.</em></p>
            </div>
        </div>
    </form>
    @if (Model.FoundMod == null)
    {
        if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert">
                        @Model.ErrorMessage
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <hr />
        @if (Model.FoundMod.Logo != null && !string.IsNullOrWhiteSpace(Model.FoundMod.Logo.ThumbnailUrl))
        {
            <img src="@Model.FoundMod.Logo.ThumbnailUrl" />
        }
        @if (Model.FoundMod.Links != null && !string.IsNullOrWhiteSpace(Model.FoundMod.Links.WebsiteUrl))
        {
            <h2><a href="@Model.FoundMod.Links.WebsiteUrl" class="text-white" target="_blank">@Model.FoundMod.Name</a> <i class="bi bi-box-arrow-up-right"></i></h2>
        }
        else
        {
            <h2>@Model.FoundMod.Name</h2>
        }
        <p><i>@Model.FoundMod.Summary</i></p>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <table class="table table-striped table-dark text-start table-bordered caption-top">
                    <caption>Project information</caption>
                    <tbody>
                        <tr>
                            <td><b>Author</b></td>
                            <td class="text-end">@Html.Raw(string.Join("<br />", Model.FoundMod.Authors.Select(c => "<a href=\"" + c.Url + "\" class=\"text-white\" target=\"_blank\">" + HttpUtility.HtmlEncode(c.Name) + "</a>")))</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td class="text-end">@Model.FoundMod.Status.ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td class="text-end">@Model.FoundMod.DateCreated.ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Modified</b></td>
                            <td class="text-end">@Model.FoundMod.DateModified.ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Released</b></td>
                            <td class="text-end">@Model.FoundMod.DateReleased.ToString()</td>
                        </tr>
                        <tr>
                            <td><b>Downloads (might be inaccurate)</b></td>
                            <td class="text-end">@Model.FoundMod.DownloadCount.ToString("n0")</td>
                        </tr>
                        <tr>
                            <td><b>Categories</b></td>
                            <td class="text-end">@Html.Raw(string.Join("<br />", Model.FoundMod.Categories.Select(c => "<a href=\"" + c.Url + "\" class=\"text-white\" target=\"_blank\">" + HttpUtility.HtmlEncode(c.Name) + "</a>")))</td>
                        </tr>
                        <tr>
                            <td><b>Mod Distribution</b></td>
                            <td class="text-end">@(Model.FoundMod.AllowModDistribution ?? true ? "Allowed" : "Not allowed")</td>
                        </tr>
                    </tbody>
                </table>
                @if (Model.FoundMod.Screenshots?.Count > 0)
                {
                    <div class="carousel slide" data-bs-ride="carousel" id="screenshots">
                        <div class="carousel-indicators">
                            @{
                                var firstScreenshot = true;
                                var screenIndex = 0;
                            }
                            @foreach (var screenshot in Model.FoundMod.Screenshots)
                            {
                                <button type="button" data-bs-target="#screenshots" data-bs-slide-to="@(screenIndex++)" class="@(firstScreenshot ? "active" : null)" aria-current="@(firstScreenshot ? "true" : null)"></button>
                                firstScreenshot = false;
                            }
                        </div>
                        <div class="carousel-inner">
                            @{
                                firstScreenshot = true;
                            }
                            @foreach (var screenshot in Model.FoundMod.Screenshots)
                            {
                                <div class="carousel-item @(firstScreenshot ? "active" : null)">
                                    <img src="@screenshot.Url" class="d-block w-100" alt="@screenshot.Title">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@screenshot.Title</h5>
                                        <p>@screenshot.Description</p>
                                    </div>
                                </div>
                                firstScreenshot = false;
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#screenshots" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#screenshots" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
                <p class="text-muted"><em>Permalink: <a href="@permLink" class="text-muted" target="_blank">@permLink</a></em></p>
            </div>
        </div>
    }
</div>
